:root,
[data-theme="dark"] {
  --background: #15171b;
  --text: #eaeaeb;
  --textSub: #b0b0b4;

  --muted: #82868f;
  --mutedOutline: rgba(85, 88, 96, 0.39);
  --primary: #5a86d8;
  --primaryBright: #80a8f3;
  --bloom: rgba(82, 167, 228, 0.5);
  --signal: #5face0;
  
  --surface: #1c1f24;
  --surface-2: #24272e;
  --surface-3: #2c3038;
}